#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_titanium
#build/titaniumd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_titanium)

DEB_INSTALL_EXAMPLES_titaniumd += debian/examples/*
DEB_INSTALL_MANPAGES_titaniumd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix titaniumd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f titanium-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake titanium-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_titanium
	src/test_titanium

# Ensure wrapper is set executable
binary-post-install/titaniumd:
	chmod +x $(cdbs_curdestdir)usr/bin/titaniumd
binary-post-install/titanium-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/titanium-qt
