[Desktop Entry]
Encoding=UTF-8
Name=Titanium
Comment=Titanium P2P Cryptocurrency
Comment[fr]=Titanium, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Titanium, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/titanium-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/titanium128.png
MimeType=x-scheme-handler/titanium;
Categories=Office;
